/* 轮播图 */
.carousel{
    width: 600%;
}
.carousel>ul{
    overflow: hidden;
    transition: transform 0.5s linear 0s;

}
.carousel>ul>li{
    float: left;
    width: 16.666%;
}
.carousel>ul>li img {
    width: 100%;
    min-width: 1152px;
    /* 圖片可能和盒子的底部產生一些缝隙,此时可以使用一个小技巧 */
    /* 垂直居中 */
    vertical-align: middle;
}
