.clearfix {
    overflow: hidden;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}

/* 原子類 */

.mgt10 {
    margin-top: 10px;
}

.mgt12 {
    margin-top: 12px;
}

.mgt14 {
    margin-top: 14px;
}

.mgt16 {
    margin-top: 16px;
}

.tac {
    text-align: center;
}

.center {
    width: 1152px;
    margin: 0 auto;
}

body a {
    color: white;
}

/* 导入字体图标 */

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('../fonts/embedded-opentype'), url('../fonts/iconfont.woff2') format('woff2'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
