header {
    min-width: 1152px;
    height: 152px;
}


/* main nav */

.main-nav {
    height: 40px;
    background-color: #20BD9A;
}

.main-nav .center>ul {
    /* overflow: hidden; */
}

.main-nav .center>ul>li {
    float: left;
    line-height: 40px;
    margin-right: 18px;
    font-size: 16px;
}

.main-nav .center>ul>li.have-menu {
    padding-right: 16px;
    position: relative;
}

.main-nav .center>ul>li.have-menu::before {
    content: '';
    position: absolute;
    right: -5px;
    top: 18px;
    width: 0px;
    height: 0px;
    border: 8px solid transparent;
    border-top-color: white;
    border-bottom: none;
    transition: transform 0.3s linear 0s;
    /* background-color: white; */
    /* transform: rotate(45deg); */
}

.main-nav .center>ul>li.have-menu:hover::before {
    transform: rotate(180deg);
}

/* 导航栏二级菜单 */

.main-nav .center .menu {
    position: absolute;
    top: 35px;
    left: 0;
    background-color: white;
    display: none;
    padding: 10px;
}

.main-nav .center .menu dt {
    font-size: 14px;
}

.main-nav .center .menu a {
    color: #1C1F21;
    font-size: 12px;
    /* margin-right: 4px; */
}

.main-nav .center .menu a:hover {
    color: orange;
}

.main-nav .center ul li.have-menu {
    position: relative;
    z-index: 9999;
}

.main-nav .center ul li.have-menu:hover .menu {
    display: block;
}

.main-nav .center .jjzyxmenu {
    width: 150px;
}

.main-nav .center .gtymenu {
    width: 90px;
}

.main-nav .center .ddwlmenu {
    width: 190px;
}

.main-nav .center .sdlymenu {
    width: 160px;
}

/* LOGO区域 */

.header-con .center {
    height: 36px;
    overflow: hidden;
    padding: 21px 0;
}

.header-con .center .search {
    float: left;
    width: 405px;
    padding-top: 2px;
    overflow: hidden;
}

.header-con .center h1 {
    float: left;
    font-size: 24px;
    color: #20BD9A;
    margin-right: 20px;
    line-height: 36px;
}

.header-con .center .search input {
    float: left;
    width: 371px;
    height: 28px;
    border: 1px solid #20BD9A;
    border-radius: 3px 0 0 3px;
}

.header-con .center .search .btn {
    float: left;
    width: 32px;
    height: 30px;
    background-color: #20BD9A;
    border-radius: 0 3px 3px 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}

/* banner区域 */
.banner {
    position: relative;
    overflow: hidden;

}














/* 页脚第一部分 */

footer .part1 {
    height: 220px;
    background-color: #F7F7F7;
    padding-top: 32px;
}

footer .part1 a {
    color: #1C1F21;
}

footer .part1 ul>li {
    float: left;
    padding: 0 26px;
    font-size: 18px;
    border-right: 2px solid #1C1F21;
}
footer .part1 ul>li:first-child{
padding-left: 0;
}
footer .part1 ul>li:last-child{
    padding-right: 0;
    border-right: 0px solid #1C1F21;
}
footer .part1 .dlbox{
    padding-top: 40px;
}
footer .part1 dl{
    float: left;
    width: 289px;
    padding-left: 75px;
    margin-right: 30px;
    position: relative;
    font-size: 14px;
}
footer .part1 dl::before{
    position: absolute;
    left: 0;
    content: '';
    width: 60px;
    height: 60px;
    background: url(../images/icon1.fw.png) no-repeat ;
}
footer .part1 dl:last-child{
    margin-right: 0;
}
footer .part1 dt{
    font-weight: bold;
    margin-bottom: 8px;
}
footer .part1 dl.txfw::before{
    background-position: -5px -90px;
}
footer .part1 dl.ccsx::before{
    background-position: -5px -150px;
}
footer .part1 dl.axph::before{
    background-position: -5px -210px;
}
footer .part2{
    height: 225px;
    background-color: #1c1f21;
}
footer .part2 .hd{
    padding-top: 48px;
    color: white;
    margin-bottom: 31px;
}
footer .part2 .hd h2{
    float: left;
    font-size: 46px;
    font-weight: normal;
    line-height: 46px;
}
footer .part2 .hd .slogn{
    float: left;
    width: 532px;
    font-size: 14px;
    margin-left: 21px;
    line-height: 23px;
}
footer .part2 .bd{
    margin-bottom: 8px;
}
footer .part2 .bd ul li{
    float: left;
    font-size: 14px;
    border-right: 2px solid white;
    padding:0 14px;
}
footer .part2 .bd ul li:first-child{
    padding-left: 0;
}
footer .part2 .bd ul li:last-child{
    border-right: none;
}
footer .part2 .copyrights{
    color: white;
    font-size: 14px;
}

/* 返回顶部按钮 */
#backTop {
    display: block;
    padding: 14px;
    background-color: rgba(28,31,33,0.50);
    position: fixed;
    right: 0;
    bottom: 300px;
    color: white;
    font-size: 32px;
    line-height: 32px;
    display: none;
}
