header {
    min-width: 1152px;
    height: 152px;
}

.banner .circles{
    width: 160px;
    height: 20px;
    /* background-color: red; */
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -75px;
    z-index: 2;
}
.banner .circles li{
    float: left;
    width: 20px;
    height: 20px;
    background-color: orange;
    margin-right: 10px;
    border-radius: 10px;
    transition: all 0.5s linear 0s;
    cursor: pointer;
}
.banner .circles li:last-child{
    margin-right: 0px;

}
.banner .circles li.current{
    width: 40px;
    background-color: plum;

}
.banner .center {
    position: absolute;
    width: 1152px;
    height: 100%;
    left: 50%;
    margin-left: -576px;
    top: 0;
    /* margin-top: -50%; */
    /* width: 0; */
    /* position: relative; */
}

.banner .center .banner-nav {
    height: 100%;
    width: 620px;
}

.banner .center .banner-nav>ul {
    width: 296px;
    background-color: rgba(28, 28, 25, .4);
    height: 100%;
}

.banner .center .banner-nav>ul>li {
    width: 296px;
    height: 16.66%;
    box-sizing: border-box;
    /* background-color: ; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* 当前显示的li背景加深 */

.banner .center .banner-nav>ul>li.current {
    background-color: rgba(28, 28, 25, 0.5);
}


.banner .center .banner-nav>ul>li {
    position: relative;
}
/* .banner .center .banner-nav>ul>li.curr */

.banner .center .banner-nav>ul>li dl {
    position: absolute;
    height: 48px;
    top: 50%;
    left: 40px;
    margin-top: -24px;
    color: white;
}

.banner .center .banner-nav>ul>li::before {
    content: '';
    background-image: url(images/icon1.fw.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 12px;
    margin-top: -12px;
}

.banner .center .banner-nav>ul>li dl dt {
    font-size: 18px;
    line-height: 26px;
    height: 26px;
}

.banner .center .banner-nav>ul>li dd {
    font-size: 16px;
    line-height: 22px;
    height: 22px;
}

.banner .center .banner-nav>ul>li:nth-child(1)::before {
    background-position: -5px -5px;
}

.banner .center .banner-nav>ul>li:nth-child(2)::before {
    background-position: -30px -5px;
}

.banner .center .banner-nav>ul>li:nth-child(3)::before {
    background-position: -60px -5px;
}

.banner .center .banner-nav>ul>li:nth-child(4)::before {
    background-position: -90px -5px;
}

.banner .center .banner-nav>ul>li:nth-child(5)::before {
    background-position: -120px -5px;
}

.banner .center .banner-nav>ul>li:nth-child(6)::before {
    background-position: -150px -5px;
}

/* banner区域二级菜单 */
.banner .center .banner-nav .menus-box{
    /* display: none; */
}
.banner .center .banner-nav .menus-box .menu {
    position: absolute;
    height: 100%;
    width: 356px;
    top: 0;
    left: 296px;
    background-color: rgba(28, 28, 25, 0.5);
    display: none;
    padding: 16px;
    box-sizing: border-box;
z-index: 3;
    /* 暂时隐藏 */
}

.banner .center .banner-nav .menus-box .current {
    display: block;
}

.banner .center .banner-nav .menus-box .menu dl {
    margin-bottom: 12px;
}

.banner .center .banner-nav .menus-box .menu dl dt {
    line-height: 24px;
    font-size: 16px;
    color: white;
}

.banner .center .banner-nav .menus-box .menu dl dd {
    font-size: 14px;
    line-height: 22px;
}

.banner .center .banner-nav .menus-box .menu dl dd a {
    margin-right: 8px;
}





/* banner区域 */
.banner {
    position: relative;
    overflow: hidden;
    height: 585.08px;
}
.banner .loading{
    padding-top: 250px;
    padding-bottom: 250px;
}

