/* 当地特色体验 */

.tsddty {
    height: 456px;
    /* box-sizing: border-box; */
}

.tsddty .center {
    height: 416px;
    padding-top: 40px;
}

.tsddty a {
    color: #000;
}

.tsddty h2 {
    text-align: center;
}

.tsddty .bd {
    height: 330px;
    padding-top: 32px;
}

.tsddty .bd ul {
    height: 330px;
}

.tsddty ul li {
    width: 264px;
    height: 290px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    margin-right: 32px;
}

.tsddty ul li:last-child {
    margin-right: 0;
}

.tsddty ul li:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.20);
}

/* 图片设置 */

.tsddty ul li a {
    width: 264px;
    height: 290px;
}

.tsddty ul li .picbox {
    width: 264px;
    height: 184px;
    vertical-align: middle;
}

.tsddty ul li .wordbox {
    width: 242px;
    height: 90px;
    padding: 16px 11px 0;
}

.tsddty ul li .wordbox .proname {
    font-size: 16px;
    line-height: 24px;
    height: 48px;
    margin-bottom: 8px;
}

.tsddty ul li .wordbox .info {
    font-size: 12px;
    line-height: 18px;
}